streamlit
google-generativeai
langchain
langchain-google-genai
langchain-community
langchain-core
chromadb
pypdf
pandas
langchain-text-splitters
langchain-text-splitters
langchain-text-splitters
